div#root{
background-color: #282828;



}
@font-face {
  font-family: "Digit";
  src: local("Digit"),
    url("../src/fonts/DS-DIGI.TTF") format("truetype");
  font-weight: normal;
  }


.generalContainer {
background-color: #282828;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.containerCard {
  background-color: #333333!important;
  width: 50%;
  padding: 2em;
}

.timerContainer {
  background-color: #1b1b1d;
}
.disabled {
  background-color: #1b1b1d;
  color: #1b1b1d;
}

.timerRow {
  display: flex;
  align-items: center;

}


.accessTimeIcon, .time {
  color: #fff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  font-family: "Digit";
  font-size: 3em;
  margin: 0;
}

.unit {
  font-size: 0.6em;
}

.selectorText {
  color:#a7a7a7;

}
.buttonsContainer {
  display: flex;
  align-items: center;
}
.arrowbutton{

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)!important;
  border-radius: 0!important;
  width: 50%!important;

}

.pwrButton {
  color:#fff!important;
  background-color: #333333;
  border-radius: 0!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  width: 80%!important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)!important;
}
.pwrButton:hover {
  border-color: #333333!important;
}

.circle {
  width: 0.5em;
  height: 0.5em;
  margin-right: 10%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.selectorSliderRow {
  display: flex;
  align-items: center;
}